import './index.less';

import { TableContextProvider } from '@/components/table/context';
import Table from '@/components/table/table';

import { useTableColumns } from './hooks/table-columns';
import { PageData, PageParams } from '@/types/request';
import { SysDictType } from './types';

export default function SysDictTypePage() {
  const columns = useTableColumns();

  return (
    <div className="sys-dict-type-page">
      <TableContextProvider>
        <div className="table-container">
          <Table
            columns={columns}
            requestKey={['sys-dict-type-page']}
            request={(params: PageParams) => {
              return new Promise<PageData<SysDictType>>((resolve) => {
                setTimeout(() => {
                  resolve({
                    current: params.pageNo,
                    size: params.pageSize,
                    total: 100,
                    records: [
                      {
                        id: 1,
                        name: '测试1',
                        type: '测试1',
                        status: 1,
                        createTime: '2022-01-01 00:00:00',
                        remark: '测试1',
                      },
                    ],
                  });
                }, 1000);
              });
            }}
          />
        </div>
      </TableContextProvider>
    </div>
  );
}
